@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS */

/* STANDART TEGS STYLES */
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
body::-webkit-scrollbar {
    width: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
a {
    text-decoration: none;
    color: inherit;  
}
h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    font-weight: 700;
}
h5 {
    font-size: 20px;
    font-weight: 700;
}
p {
    display: block;
}
video {
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: none;
}
/* END STANDART TEGS STYLES */
.header{
    background-color: #3B5571;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 104px;
}
.container{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    min-width: none;
    margin: 0 50px;
}
.container__logo{
    position: absolute;
    z-index: 3;
    margin-top: 20px;
   
}
.container__logo img{
    width: 60px;
}
.header__background-subtitle{
    width: 100%;
    background-color: #43698F;
    height: 54px;
    position: absolute;
    top: 54px;
}
.header__logo {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    width: 100%;
}
.header__logo-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.header__btn-nav{
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 32px 25px;
}
.header__btn-nav--contacts{
    background-color: #6287AA;
}
.header__btn-nav--words{
    background-color: #43698F;
}
.header__logo-subtitle-text{
    position: absolute;
    color: #A2BEDD;
    font-weight: bold;
    font-size: 20px;
    z-index: 3;
    padding-top: 0px;
}
.header__logo-title-text{
    color: white;
    padding-top: 10px;
}
@media (max-width:845px){
    .header__background-subtitle{
        height: 70px;
    }
    .header__logo-subtitle-text{
        margin-top: 20px;
        font-size: 16px;
    }
    header h2{
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    }
    .header__btns-nav{
        display: none;
    }
}
.main-bg--gray{
    background-color: rgba(160, 190, 221, 50%);
    padding-bottom: 78px;
}
.main {
    display: flex;
}
.main-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    column-gap: 90px;
}
.main-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.main-card__header {
    display: flex;
}
.main-card-text {
    display: flex;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    margin-left: 20px;
}
.main-card-text__content-head-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 0 15px;
}
.main-card__content{
    width: 300px;
    height: 400px;
    border: 1px solid #B5C5D8;
    position: relative;
}
.main-card__header-line {
    background-color: #426990;
    width: 100%;
    height: 15px;
}
.main-card__header-line--normal {
    background-color: #426990!important;
}
.main-card__header-line--light {
    background-color: #6287AA!important;
}
.main-card__header-line--dark {
    background-color: #304F70!important;
}
.main-card__content-head{
    height: 150px;
    margin-bottom: 30px;
}
.main-card__content-head--first{
    background-image: url("../img/Group\ 22.png");
    background-repeat: no-repeat;
}
.main-card__content-head--second{
    background-image: url("../img/Group\ 22\ \(1\).png");
    background-repeat: no-repeat;
   }
.main-card__content-head--thrid{
    background-image: url("../img/Group\ 23.png");
    background-repeat: no-repeat;
}
.main-card__content-theme {
    text-align: center;
}
.main-card__content-btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 28px;
}
.main-card__content-btn {
    padding: 16px 19px;
    width: fit-content;
}
.main-card__content-btn:hover {
    opacity: .9;
}
.main-card__content-btn--info{
    border: 1px solid #000000;
    border-radius: 30px;
    font-size: 14px;
}
.main-card__content-btn--exe{
    border-radius: 30px;
    background-color: #4F7094;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.triangle{
    display: flex;
    justify-content: end;
    z-index: 4;
}
.triangle_img{
    height: 114px;
}
@media (max-width:845px){
    .triangle{
        display: none;
    }
}
.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 500px;
    box-sizing: border-box;
    width: 90%;
    background: #fff;
    padding: 15px 30px;
    text-align: left;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.modal__header{
    color: #251212;
    font-weight: 700;
    font-size: 22px;
    margin: 20px 0 10px 0;
    max-width: 1120px;
}
.modal__text {
    margin-bottom: 10px;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #4B6E94;
    color: white;
    min-height: 156px; 
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 100%;
    margin: 0 50px;
}
.footer-container__column-third-col {
    display: flex;
    align-items: center;
    max-width: 235px;
    border-left: 1px solid #fff;
    padding-left: 28px;
}
.footer-container__columns {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 10px 0;
    column-gap: 50px;
    align-items: center;
}
.footer-container__column {
    display: flex;
    flex-direction: column;
    max-width: 406px;
}
.footer-container__column-title {

}
.footer-container__column-text {
    margin-top: 10px;
}
.footer-container__column-three {
    display: flex;
}
.footer-container__column-thrid-logo {
    width: max-content;
}
@media (max-width:1223px) {
    .footer-container {
        justify-content: center;
        margin-bottom: 50px;
    }
   .footer-container__column-three {
        margin-top: 50px;
   }
   .footer-container__columns {
        display: flex;
        justify-content: center;
        gap: 30px;
   }
   .footer-container__columns h4 {
        text-align: center;
   }
}
/*  */
.white {
    color: white;  
}
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.center {
    text-align: center;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-30{
    margin-bottom: 30px;
}
.ml-90{
    margin-left: 90px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-100{
    margin-top: 100px;
}
.mr-10{
    margin-right: 10px;
}
.ml-20{
    margin-left: 20px;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.w100{
    width: 100%;
}
.max-content{
    width: max-content;
}
.center-results{
    height: 100%;
}
/*  */

/* Exercises pages */
.main-window {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-window-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    min-width: 400px;
    margin: 0px 20px;
} 
.main-window-container__top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.main-window-container__top-nav-icon {
    margin-right: 10px;
}
.main-window-app {
    max-width: 1280px;
    width: 100%;
    min-width: 400px;
    background-color: #fff;
    min-height: 90vh;
    height: fit-content;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
}

.main-window-app__header{
    background-color: #43698F;
    height: 80px;
    width: 100%;
    border-radius: 15px 15px 0 0; 
}

.main-window-app__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-window-app__header-tab-exercise-container {
    display: flex;
    padding:  0px 30px;
}
.tab {
    background-color: rgba(254, 254, 254, 0.5);
    height: 14px;
    width: 100%;
    max-width: 150px;
    min-width: 30px;
    border-radius: 15px 15px 0 0;
    text-align: center;
    cursor: pointer;
}
.active_tab{
    background-color: #FEFEFE!important;
    height: 14px;
    width: 100%;
    max-width: 150px;
    min-width: 30px;
    border-radius: 15px 15px 0 0;
    text-align: center;
    cursor: pointer;
}
.main-window-app__header-counter-exercise{
    color: #fff;
    padding: 20px;
}
.main-window-app__exercises{
    padding: 30px 50px 40px ;
    
}
.main-window-container__top-nav-text{
    max-width: 1280px;
    width: 100%;
    /* min-width: 400px; */
    color: #43698F;
    font-weight: bold;
}
.main-window-app__header-container-title{
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    padding: 20px 20px;
}
.main-window-app__exercises-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-window-app__exercises-content-item{
    display: flex;
    flex-direction: column;
}
.main-window-app_over-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.main-window-app_over-window-item {
    text-align: center;
}
.container-filling{
    display: flex;
    gap: 30px;
}
@media (max-width: 900px) {
    .container-filling{
        flex-wrap: wrap;
    }
}
.main-window-app__exercises-content-img img{
    width: 100%;
}
.img_question {
    display: flex;
    margin: 0 auto;
    width:200px
}
.img_question_table {
    display: flex;
    margin: 0 auto;
    width:800px
}
.img_question_img {
    display: flex;
    margin: 0 auto;
    width:400px
}
.main-window-app__exercises-content-text{
    width: 100%;
    min-width: none;
    max-width: 630px;
}
.arrows {
    display: flex;
    width: 100%;
    justify-content: center;
}
.main-window-app__arrows {
    display: flex;
    width: 100%;
    justify-content: end;
    position: absolute;
    bottom: 20px;
    right: 50px;
}
.prev-btn, .next-btn {
    cursor: pointer;
}
.list-dashed{
    list-style-type: none;
}
ul.list-dashed > li {
    
}
ul.list-dashed > li:before {
content: "-";
}
.time-counter{
    font-size: 22px;
    
}
.timer{
    display: flex;
    justify-content: end;
    
}
.timer img{
    height: 20px;
}
.timer_container{
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    border: none;
    background-color: rgba(255, 255, 255,0);
}
.text-center{
    text-align: center;
}
.hide {
    display: none;
}
.option-list{
    width: 50%;
    min-width: 200px;
}
.active{
    opacity: 0.8;
}
.hover{
      opacity: 0.5;
}
.option{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #A2BEDD;
    border-radius: 15px;
    text-align: center;
}

.option_img {
    width: 18%;
}

#left-list li{
    border: 1px solid black;
    width: 100px;
}

.hide {
    display: none;
}

.hovered {
    background-color: rgba(254, 254, 254, 0.5);
}

.correct {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #9ee7d5 !important;
    border-radius: 15px;
    text-align: center;
}
.incorrect {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e7ad9e !important;
    border-radius: 15px;
    text-align: center;
}
.disabled{
    pointer-events: none;
}

.header__btns-nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.blocker{
    z-index: 5 !important;
}
#piechart{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}
.box_1{
    width: 260px;
    height: 130px;
    background-color: rgba(208, 222, 238, 0.21);
    border-radius: 15px;
    border: 1px solid rgba(67, 105, 143, 0.26);
    padding: 10px;
}
.box_1_text{
    font-weight: 600;
    color: #43698F;
    font-size: 22px;
    text-align: center;
}
.box_number{
    font-weight: bold;
    color: #43698F;
    font-size: 32px;
    text-align: center;
}
.container_box{
    gap: 30px;
}